ul#synced
  li.service.facebook
    img.avatar
    a.icon(data-service="facebook") &#62222;
  li.service.twitter
    img.avatar
    a.icon(data-service="twitter") &#62217;
  li.service.github
    img.avatar
    a.icon(data-service="github") &#62208;