form.create(method='post', action='/blog.post/publish')
  input(type='text', name='title', placeholder='title')
  textarea.content(name='content', placeholder='content')
  input.done(type='submit', name='create') done