!!! 5
html(lang='en', ng-app="narratio")
  head
    title Bryan M
    // iPhone app support
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel="apple-touch-icon", href="public/images/apple-touch-icon.png")
    // Google web fonts
    link(href='http://fonts.googleapis.com/css?family=Esteban|Alegreya+SC:400,700|Special+Elite', rel='stylesheet')
    // App stylesheet
    link(rel='stylesheet', href='#{ base }/bm.css')

  body(ng-controller="nReadCtrl")
    #post(ng-view)
    #aioim
    a#create(href="#/create/post.html")
      +
    nav#posts
      a(ng-repeat="post in posts", href="#/read/{{ $index }}.html", ng-click="assignPost($index)") {{ post.title.substring(2) }}
    ul#share
      a(href='/share-via/facebook') facebook
      a(href='/share-via/twitter') twitter
      a(href='/share-via/google+') google+

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js')
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='/narratio.js')
    script(src='/logic.js')
