!!! 5
html(lang='en', ng-app="narratio")
  head
    title Bryan M
    // iPhone app support
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel="apple-touch-icon", href="public/images/apple-touch-icon.png")
    // Google web fonts
    link(href='//fonts.googleapis.com/css?family=Esteban|Alegreya+SC:400,700|Averia+Gruesa+Libre', rel='stylesheet')
    link(rel='stylesheet', href='/html5boilerplate.css')
    link(rel='stylesheet', href='/fontface.css')
    // App stylesheet
    link(rel='stylesheet', href='/bm.css')

  body(ng-controller="Narratio")
    #post(ng-view)
    #aioim
    #actions
      h3 Διήγησις
      a#create(href="/create/post")
        &#59290;
      a#home(href="/home")
        &#8962;
      a#edit-profile(href="/manage/profile")
        &#128100;
    #login
      h3 Sign in using
      a.facebook(href="#facebook")
        &#62222;
      a.twitter(href="#twitter")
        &#62217;
      a.github(href="#github")
        &#62208;
    nav#services
      .private
        a.icon(href="/peruse/private") &#59146;
        a.last-read
      .facebook
        a.icon(href="/peruse/facebook") &#62222;
        a.last-read
      .twitter
        a.icon(href="/peruse/twitter") &#62217;
        a.last-read
      .github
        a.icon(href="/peruse/github") &#62208;
        a.last-read
    #quote 
      p The secret of life is that it has no purpose
      p.source Bryan Maynard

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js')
    script(src='//cdn.firebase.com/v0/firebase.js')
    script(src='//cdn.firebase.com/v0/firebase-simple-login.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/jquery.cookie.js')
    script(src='/angularfire.min.js')
    script(src='/moment.min.js')
    script(src='/narratio.js')
    script(src='/logic.js')
