!!! 5
html(lang='en', ng-app="narratio")
  head
    title Bryan M
    // iPhone app support
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel="apple-touch-icon", href="public/images/apple-touch-icon.png")
    // Google web fonts
    link(href='http://fonts.googleapis.com/css?family=Esteban|Alegreya+SC:400,700|Special+Elite', rel='stylesheet')
    link(rel='stylesheet', href='/html5boilerplate.css')
    link(rel='stylesheet', href='/fontface.css')
    // App stylesheet
    link(rel='stylesheet', href='/bm.css')

  body(ng-controller="NarratioCtrl")
    #post(ng-view)
    #aioim
    #actions
      a#create(href="/create/post.html")
        &#59290;
      a#edit-profile(href="/edit/profile.html")
        &#128100;
    #login
      h3 Sign in using
      a#facebook(href="#facebook")
        &#62222;
      a#twitter(href="#twitter")
        &#62217;
      a#github(href="#github")
        &#62208;
    nav#posts
      a(ng-repeat="post in posts | orderBy:published:reverse", href="/read/{{ $index }}.html", ng-click="assignPost($index)") {{ post.title.substring(2) }}
    #quote 
      p The secret of life is that it has no purpose
      p.source Bryan Maynard

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js')
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='https://cdn.firebase.com/v0/firebase-simple-login.js')
    script(src='/zepto.min.js')
    script(src='/jquery.cookie.js')
    script(src='/angularfire.min.js')
    script(src='/moment.min.js')
    script(src='/narratio.js')
    script(src='/logic.js')
