@font-face {
  font-family: 'Entypo';
  src: url("entypo/entypo.eot");
  src: url("entypo/entypo.eot?#iefix") format('embedded-opentype'), url("entypo/entypo.woff") format('woff'), url("entypo/entypo.ttf") format('truetype'), url("entypo/entypo.svg#EntypoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EntypoSocial';
  src: url("entypo/entypo-social.eot");
  src: url("entypo/entypo-social.eot?#iefix") format('embedded-opentype'), url("entypo/entypo-social.woff") format('woff'), url("entypo/entypo-social.ttf") format('truetype'), url("entypo/entypo-social.svg#EntypoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.5)), color-stop(0.25, transparent), color-stop(1, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  text-rendering: optimizeLegibility;
}
body:before {
  display: block;
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, rgba(0,0,0,0.35)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
}
#title,
#content {
  display: none;
}
#actions,
#login {
  display: none;
}
#create {
  left: 0.3em;
}
#edit-profile {
  left: 1.125em;
}
#create,
#edit-profile {
  font-family: Entypo;
}
#login #facebook {
  left: 0.125em;
}
#login #twitter {
  left: 0.7em;
}
#login #github {
  left: 1.3em;
}
#login a {
  font-family: EntypoSocial;
}
#create,
#edit-profile,
#login a {
  font-size: 400%;
  line-height: 0.55em;
  display: inline-block;
  position: fixed;
  top: 0.25em;
  text-align: center;
  text-decoration: none;
  color: #eee;
  text-shadow: 0 1px 1px #6c5d62;
}
#post {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #36312a), color-stop(0.33333333333333326, #252019), color-stop(1, #141008));
  background: -webkit-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: -moz-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: -o-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: -ms-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background-repeat: repeat;
  -webkit-background-size: 0.25em;
  -moz-background-size: 0.25em;
  background-size: 0.25em;
  border-left: 5px solid #e8e8dc;
  border-right: 5px solid #e8e8dc;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 1%;
}
#post:before {
  display: block;
  content: ' ';
  background-color: #47423b;
  position: fixed;
  top: -1em;
  left: 8.25em;
  margin-left: auto;
  margin-right: auto;
  right: 24.25em;
  width: 31.5em;
  z-index: -1;
  height: 150%;
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.25);
  box-shadow: inset 0 0 5px rgba(255,255,255,0.25);
}
#post ul.supplemental {
  position: fixed;
  top: 0;
  left: 8em;
  right: 24em;
  list-style: none;
  overflow: hidden;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  width: auto;
  padding: 0;
  z-index: -2;
}
#post ul.supplemental li {
  padding: 1em;
}
#post ul.supplemental li img {
  width: 175px;
  -webkit-box-shadow: 0 1px 5px #000;
  box-shadow: 0 1px 5px #000;
  -webkit-filter: grayscale(0.5) sepia(0.7);
  margin-left: 0.25em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
#post ul.supplemental li img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#post ul.supplemental:after {
  display: block;
  content: ' ';
  position: fixed;
  top: 0;
  left: 8em;
  right: 24em;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.5)), color-stop(0.15, transparent), color-stop(0.85, transparent), color-stop(1, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
  z-index: -1;
}
#post ul.supplemental:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, transparent), color-stop(1, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -moz-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  display: block;
  content: ' ';
  position: fixed;
  top: 0;
  left: 8em;
  right: 24em;
  height: 100%;
  border-left: 5px solid #e8e8dc;
  border-right: 5px solid #e8e8dc;
}
#back {
  position: absolute;
  top: 0.75%;
  left: 13.5%;
  width: 7.5%;
  z-index: 110;
  -webkit-box-shadow: 0 1px 1px #000;
  box-shadow: 0 1px 1px #000;
  background-color: #47423b;
  border: none;
  text-shadow: 0 -1px 0 #000;
  color: #7a756e;
}
#share {
  width: 8em;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e3dfd6;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
#share a {
  display: block;
  width: 80%;
  padding: 0.25em 10%;
  background-color: transparent;
  color: #807980;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
  text-decoration: none;
}
#posts {
  position: fixed;
  top: 3.8em;
  left: 0;
  bottom: 5.625em;
  width: 8em;
  background-color: rgba(0,0,0,0.25);
}
#posts a {
  display: block;
  margin: 0;
  padding: 0.25em 5%;
  width: 90%;
  color: #e3dfd6;
  background-color: #47423b;
  border-top: 1px solid rgba(255,255,255,0.125);
  border-bottom: 1px solid rgba(0,0,0,0.125);
  font-family: 'Special Elite', sans-serif;
  text-decoration: none;
}
#posts a:hover {
  cursor: pointer;
}
#posts a:last-child {
  -webkit-box-shadow: 0 1px 3px #000;
  box-shadow: 0 1px 3px #000;
}
#aioim {
  background-color: #47423b;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.25), -1px -1px 2px rgba(0,0,0,0.45);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.25), -1px -1px 2px rgba(0,0,0,0.45);
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  width: 23em;
  height: 70%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#aioim > p {
  text-align: center;
  font-family: 'Esteban', serif;
  color: rgba(255,255,255,0.8);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#aioim > p a {
  color: #fff;
  text-decoration: none;
}
#aioim > .new.message {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2.85em;
  background-color: #3d4c5a;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#aioim > .new.message textarea {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 85%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.1em 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d7067), color-stop(1, #4c6056));
  background: -webkit-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -moz-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -o-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -ms-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: linear-gradient(top, #5d7067 0%, #4c6056 100%);
  border-top: 1px solid #5f6e7c;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  color: rgba(255,255,255,0.6);
  font-family: 'Esteban';
  letter-spacing: 1px;
  border-bottom-left-radius: 4px;
}
#aioim > .new.message textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.25);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#aioim > .new.message textarea:-moz-placeholder {
  color: rgba(255,255,255,0.25);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#aioim > .new.message button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  width: 15%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.85em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #749aa1), color-stop(1, #638990));
  background: -webkit-linear-gradient(top, #749aa1 0%, #638990 100%);
  background: -moz-linear-gradient(top, #749aa1 0%, #638990 100%);
  background: -o-linear-gradient(top, #749aa1 0%, #638990 100%);
  background: -ms-linear-gradient(top, #749aa1 0%, #638990 100%);
  background: linear-gradient(top, #749aa1 0%, #638990 100%);
  border-top: 1px solid #85abb2;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.125);
  font-family: 'Alegreya SC';
  border-bottom-right-radius: 4px;
}
#aioim .messages {
  margin-left: 1em;
  margin-right: 1em;
}
#aioim .messages dt {
  background-color: #5d7067;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#aioim .messages dt a {
  display: inline-block;
}
#aioim .messages dt .user {
  color: #222;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.125);
  font-size: 80%;
  width: 22.25em;
  line-height: 100%;
  font-family: 'Special Elite';
  letter-spacing: 1px;
  vertical-align: bottom;
  margin-bottom: 0.5em;
}
#aioim .messages dt:hover .favorite,
#aioim .messages dt:hover .retweet {
  visibility: visible;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
#aioim .messages dt .favorite,
#aioim .messages dt .retweet {
  visibility: hidden;
  color: rgba(0,0,0,0.25);
  width: 0.5em;
  text-decoration: none;
  background-position-y: -1px;
  font-family: 'EntypoRegular';
  font-size: 1.75em;
  line-height: 1em;
  vertical-align: top;
}
#aioim .messages dt .favorite:hover,
#aioim .messages dt .retweet:hover {
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
#aioim .messages dt .favorited,
#aioim .messages dt .retweeted {
  visibility: visible;
}
#aioim .messages dt .favorite {
  background-position-x: 95px;
}
#aioim .messages dt .favorite:hover {
  background-position-x: 79px;
}
#aioim .messages dt .retweet {
  background-position-x: 48px;
  margin-right: 0.25em;
}
#aioim .messages dt .retweet:hover {
  background-position-x: 32px;
}
#aioim .messages dt .favorited {
  background-position-x: 63px;
}
#aioim .messages dt .retweeted {
  background-position-x: 16px;
}
#aioim .messages .message {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d7067), color-stop(1, #4c6056));
  background: -webkit-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -moz-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -o-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -ms-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: linear-gradient(top, #5d7067 0%, #4c6056 100%);
  margin: 0;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.25);
  box-shadow: 0 1px 1px rgba(255,255,255,0.25);
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,0.15);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#aioim .messages .message .content {
  margin: 0;
  color: rgba(255,255,255,0.6);
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font-size: 75%;
  letter-spacing: 1px;
  font-family: 'Esteban';
}
#post {
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
#post h1:hover,
#post h2:hover,
#post h3:hover,
#post p:hover,
#post ol:hover,
#post ul:hover,
#post code:hover {
  cursor: default;
}
#post h1,
#post h2,
#post h3 {
  font-family: 'Special Elite', sans-serif;
  color: rgba(255,255,255,0.7);
}
#post h2,
#post h3 {
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
#post h1 {
  text-align: center;
  font-size: 4em;
  line-height: 1.1;
  text-shadow: 0 1px 2px rgba(0,0,0,0.25);
  width: 7.47em;
  margin-left: auto;
  margin-right: auto;
}
#post h2 {
  width: 20em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
#post h3 {
  letter-spacing: 1px;
  width: 24.6em;
  margin-top: 1.5em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
}
#post h3 + p {
  margin-top: 0.5em;
}
#post h4 {
  font-family: monospace;
  color: #fff;
  margin-top: 2.5em;
  margin-left: 1.25em;
  text-shadow: 0 -1px 0 #606060;
  margin-bottom: 0em;
}
#post pre {
  padding: 0.5em 1em;
  margin-top: 0.25em;
  margin-bottom: 3.5em;
  font-family: monospace;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f6e96), color-stop(1, #3e5d85));
  background: -webkit-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -moz-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -o-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -ms-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  text-shadow: 0 1px 0 #fff;
  color: #000;
  width: 35em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#post img {
  width: 28.375em;
}
#post p,
#post ol,
#post ul,
#post textarea {
  width: 28.4em;
  font-family: 'Esteban', serif;
  margin-left: auto;
  margin-right: auto;
}
#post ol,
#post ul {
  padding: 0.5em 2.25em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #3e5d85;
  color: rgba(255,255,255,0.6);
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.125), 0 1px 1px rgba(255,255,255,0.125);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.125), 0 1px 1px rgba(255,255,255,0.125);
  width: 25.7em;
  padding-left: 1.95em;
  letter-spacing: 1px;
}
#post #new {
  width: 30em;
  margin: 0 auto;
}
#post #new #title {
  text-align: center;
  font-size: 450%;
  width: 6.5em;
  padding: 0;
  margin: 0 auto;
  height: 100px;
}
#post #new .content {
  margin-top: 1em;
}
#post #new input {
  font-family: 'Entypo';
  font-size: 400%;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #95b342;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  width: 1em;
}
#post #new input[type=submit] {
  margin-left: 5.4em;
}
#post p,
#post textarea {
  padding: 0.85em 0.75em 0.45em 0.75em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  border: none;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f6e96), color-stop(1, #3e5d85));
  background: -webkit-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -moz-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -o-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -ms-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  color: rgba(255,255,255,0.7);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#post p:first-letter,
#post textarea:first-letter {
  font-size: 2em;
  letter-spacing: 1px;
}
#post p:first-line,
#post textarea:first-line {
  line-height: 1.3em;
}
#post p img,
#post textarea img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px #000;
  box-shadow: 0 1px 3px #000;
  margin-top: -0.5em;
  border: 2px solid #e3dfd6;
}
#post p br,
#post textarea br,
#post p code,
#post textarea code {
  display: inline-block;
  margin-left: 0.1em;
  margin-right: 0.1em;
  -webkit-box-shadow: 0 -1px 1px rgba(255,255,255,0.125), 0 1px 1px rgba(0,0,0,0.125);
  box-shadow: 0 -1px 1px rgba(255,255,255,0.125), 0 1px 1px rgba(0,0,0,0.125);
  padding-bottom: 0.2em;
  line-height: 1.3em;
  background-color: rgba(95,127,167,0.25);
  padding-left: 0.45em;
  padding-right: 0.45em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-top: 0.45em;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
  color: #0b2a51;
  font-size: 85%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#post p code.block,
#post textarea code.block {
  white-space: pre;
  display: block;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.25);
  margin-bottom: 0.45em;
  margin-left: -0.45em;
  margin-right: -0.45em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: #5f7fa7;
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
#post p code.block br:first-child,
#post textarea code.block br:first-child {
  display: none;
}
#post textarea {
  display: block;
}
#post textarea::-webkit-input-placeholder {
  color: #569fd3;
}
#post textarea:-moz-placeholder {
  color: #569fd3;
}
#post textarea:focus {
  outline: none;
}
#post a {
  color: #fff;
  text-decoration: none;
}
#post a:visited {
  color: #fff;
}
#post a:hover {
  color: #fff;
}
#post ol {
  list-style-type: lower-roman;
}
@media screen and (max-width: 640px) {
  #post {
    padding: 2%;
    height: 100%;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  #post {
    position: fixed;
    left: 8em;
    right: 24em;
    width: auto;
    overflow-y: auto;
  }
  h1 {
    margin-top: 0.4em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1029px) {
  #post:before {
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.25), 0 0 5px #000;
    box-shadow: inset 0 0 5px rgba(255,255,255,0.25), 0 0 5px #000;
  }
}
