html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.5)), color-stop(0.25, transparent), color-stop(1, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 25%, rgba(0,0,0,0.5) 100%);
  text-rendering: optimizeLegibility;
}
body:before {
  display: block;
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, rgba(0,0,0,0.35)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
  background: linear-gradient(top, transparent 0%, rgba(0,0,0,0.35) 100%);
}
#title,
#content {
  display: none;
}
#post article h1,
#post .editor #title {
  text-shadow: 0 1px 0 rgba(238,238,238,0.5), 0 2px 0 rgba(233,233,233,0.4), 0 3px 0 rgba(221,221,221,0.3), 0 4px 0 rgba(217,217,217,0.2), 0 5px 0 rgba(204,204,204,0.1), 0 6px 1px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.4), 0 3px 5px rgba(0,0,0,0.3), 0 5px 10px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.3), 0 20px 20px rgba(0,0,0,0.25);
}
#actions,
#login {
  display: none;
}
#actions h3,
#login h3 {
  color: rgba(71,66,59,0.75);
  margin: 0.75em 0;
  font-size: 100%;
  display: inline-block;
  width: 8em;
  text-align: center;
  text-shadow: 0 1px 0px rgba(227,223,214,0.25);
}
#quote {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8em;
  height: 5.625em;
}
#quote p {
  margin: 0.5em;
  font-size: 80%;
  color: rgba(0,0,0,0.125);
  text-shadow: 0 1px 0 rgba(255,255,255,0.05);
  font-family: 'Alegreya SC';
}
#quote .source {
  text-align: right;
}
#quote:hover p {
  cursor: default;
  color: rgba(0,0,0,0.75);
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
#create {
  left: 0.1em;
}
#edit-profile {
  left: 1.3em;
}
#home {
  left: 0.7em;
}
#create,
#edit-profile,
#home,
#edit-post,
#delete-post,
#post .commands {
  font-family: Entypo;
}
#login .facebook {
  left: 0.125em;
}
#login .twitter {
  left: 0.7em;
}
#login .github {
  left: 1.3em;
}
#login a {
  font-family: EntypoSocial;
}
#edit-post,
#delete-post,
#delete .commands a,
#delete .commands input {
  font-size: 300%;
  margin-left: 0;
  display: inline-block;
  height: 1em;
  width: 1em;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 1em;
  position: relative;
}
#create,
#edit-profile,
#home {
  top: 0.6em;
}
#login a {
  top: 0.6em;
}
#create,
#edit-profile,
#home,
#login a {
  font-size: 400%;
  line-height: 0.55em;
  display: inline-block;
  position: fixed;
  text-align: center;
  text-decoration: none;
  color: #e3dfd6;
  text-shadow: 0 1px 1px #6c5d62;
}
#create:hover,
#edit-profile:hover,
#home:hover,
#login a:hover {
  color: #f4efe7;
}
#post {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #36312a), color-stop(0.33333333333333326, #252019), color-stop(1, #141008));
  background: -webkit-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: -moz-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: -o-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: -ms-linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background: linear-gradient(top, #36312a 0%, #252019 33.33333333333333%, #141008 100%);
  background-repeat: repeat;
  -webkit-background-size: 0.25em;
  -moz-background-size: 0.25em;
  background-size: 0.25em;
  border-left: 5px solid #e8e8dc;
  border-right: 5px solid #e8e8dc;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 1%;
}
#post:before {
  display: block;
  content: ' ';
  background-color: #47423b;
  position: fixed;
  top: -1em;
  left: 8.25em;
  margin-left: auto;
  margin-right: auto;
  right: 24.25em;
  width: 31.5em;
  z-index: -1;
  height: 150%;
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.25);
  box-shadow: inset 0 0 5px rgba(255,255,255,0.25);
}
#post:after {
  display: block;
  content: ' ';
  position: fixed;
  top: 0;
  left: 8.3em;
  right: 24.3em;
  height: 100%;
  z-index: -1;
}
#post ul.supplemental {
  position: fixed;
  top: 0;
  left: 8em;
  right: 24em;
  list-style: none;
  overflow: hidden;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  width: auto;
  padding: 0;
  z-index: -2;
}
#post ul.supplemental li {
  padding: 1em;
}
#post ul.supplemental li img {
  width: 175px;
  -webkit-box-shadow: 0 1px 5px #000;
  box-shadow: 0 1px 5px #000;
  -webkit-filter: grayscale(0.5) sepia(0.7);
  margin-left: 0.25em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
#post ul.supplemental li img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#post ul.supplemental:before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, transparent), color-stop(1, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -moz-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(top, transparent 25%, rgba(0,0,0,0.5) 100%);
  display: block;
  content: ' ';
  position: fixed;
  top: 0;
  left: 8em;
  right: 24em;
  height: 100%;
  border-left: 5px solid #e8e8dc;
  border-right: 5px solid #e8e8dc;
}
#back {
  position: absolute;
  top: 0.75%;
  left: 13.5%;
  width: 7.5%;
  z-index: 110;
  -webkit-box-shadow: 0 1px 1px #000;
  box-shadow: 0 1px 1px #000;
  background-color: #47423b;
  border: none;
  text-shadow: 0 -1px 0 #000;
  color: #7a756e;
}
#share {
  width: 8em;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e3dfd6;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
#share a {
  display: block;
  width: 80%;
  padding: 0.25em 10%;
  background-color: transparent;
  color: #807980;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
  text-decoration: none;
}
#services {
  position: fixed;
  top: 1.375em;
  left: 0;
  bottom: 5.625em;
  width: 2em;
  font-size: 400%;
}
#services div {
  margin: 0;
  padding: 0 5%;
  width: 90%;
  line-height: 0.75em;
  background-color: rgba(232,209,193,0.25);
  border-top: 1px solid rgba(255,255,255,0.125);
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
#services div:hover a {
  cursor: pointer;
  color: #f4efe7;
}
#services div:last-child {
  -webkit-box-shadow: 0 1px 2px #666;
  box-shadow: 0 1px 2px #666;
}
#services div a {
  text-decoration: none;
  text-shadow: 0 1px 2px #666;
  color: #e3dfd6;
}
#services div .icon {
  font-family: EntypoSocial, Entypo;
  display: inline-block;
  width: 25%;
  margin: 0 8% 0 0;
  vertical-align: top;
}
#services div .last-read {
  font-size: 20%;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  width: 67%;
  margin-top: 0.6em;
}
#aioim {
  background-color: #47423b;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.25), -1px -1px 2px rgba(0,0,0,0.45);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.25), -1px -1px 2px rgba(0,0,0,0.45);
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  width: 23em;
  height: 70%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#aioim > p {
  text-align: center;
  font-family: 'Esteban', serif;
  color: rgba(255,255,255,0.8);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#aioim > p a {
  color: #fff;
  text-decoration: none;
}
#aioim #new-message {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4.5em;
  background-color: rgba(0,0,0,0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#aioim #new-message textarea {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 4.15em;
  border: none;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.2em 0.5em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  border: none;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f6e96), color-stop(1, #3e5d85));
  background: -webkit-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -moz-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -o-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -ms-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  color: #f1f1f7;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 80%;
}
#aioim #new-message textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.25);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#aioim #new-message textarea:-moz-placeholder {
  color: rgba(255,255,255,0.25);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#aioim #new-message .commands {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
}
#aioim #new-message .commands a {
  font-size: 300%;
  line-height: 0.4em;
  vertical-align: top;
  color: rgba(227,223,214,0.5);
  font-family: EntypoSocial, Entypo;
  display: block;
  margin-bottom: 0.3em;
  margin-top: -0.05em;
  text-decoration: none;
  padding-left: 12%;
}
#aioim #new-message .commands a.selected {
  text-shadow: 0 1px 0 #000;
  color: #e3dfd6;
}
#aioim #new-message .commands a.cancel {
  margin-left: 4%;
  margin-bottom: 0.25em;
  margin-top: -0.1em;
}
#aioim #new-message .commands a:hover {
  color: #e3dfd6;
}
#aioim #new-message .services {
  list-style: none;
  padding-left: 1.5%;
}
#aioim #new-message .services .icon {
  font-size: 300%;
  line-height: 0.4em;
  vertical-align: top;
  color: rgba(227,223,214,0.5);
  font-family: EntypoSocial, Entypo;
  display: block;
  margin-bottom: 0.3em;
  margin-top: -0.05em;
  text-decoration: none;
  margin-bottom: 0.237em;
}
#aioim #new-message .services .icon.selected {
  text-shadow: 0 1px 0 #000;
  color: #e3dfd6;
}
#aioim #new-message .services input {
  display: none;
}
#aioim .messages {
  margin-left: 1em;
  margin-right: 1em;
}
#aioim .messages dt {
  background-color: #5d7067;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#aioim .messages dt a {
  display: inline-block;
}
#aioim .messages dt .user {
  color: #222;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.125);
  font-size: 80%;
  width: 22.25em;
  line-height: 100%;
  font-family: 'IM ell English SC';
  letter-spacing: 1px;
  vertical-align: bottom;
  margin-bottom: 0.5em;
}
#aioim .messages dt:hover .favorite,
#aioim .messages dt:hover .retweet {
  visibility: visible;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
#aioim .messages dt .favorite,
#aioim .messages dt .retweet {
  visibility: hidden;
  color: rgba(0,0,0,0.25);
  width: 0.5em;
  text-decoration: none;
  background-position-y: -1px;
  font-family: 'EntypoRegular';
  font-size: 1.75em;
  line-height: 1em;
  vertical-align: top;
}
#aioim .messages dt .favorite:hover,
#aioim .messages dt .retweet:hover {
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
#aioim .messages dt .favorited,
#aioim .messages dt .retweeted {
  visibility: visible;
}
#aioim .messages dt .favorite {
  background-position-x: 95px;
}
#aioim .messages dt .favorite:hover {
  background-position-x: 79px;
}
#aioim .messages dt .retweet {
  background-position-x: 48px;
  margin-right: 0.25em;
}
#aioim .messages dt .retweet:hover {
  background-position-x: 32px;
}
#aioim .messages dt .favorited {
  background-position-x: 63px;
}
#aioim .messages dt .retweeted {
  background-position-x: 16px;
}
#aioim .messages .message {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d7067), color-stop(1, #4c6056));
  background: -webkit-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -moz-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -o-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: -ms-linear-gradient(top, #5d7067 0%, #4c6056 100%);
  background: linear-gradient(top, #5d7067 0%, #4c6056 100%);
  margin: 0;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.25);
  box-shadow: 0 1px 1px rgba(255,255,255,0.25);
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,0.15);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#aioim .messages .message .content {
  margin: 0;
  color: rgba(255,255,255,0.6);
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font-size: 75%;
  letter-spacing: 1px;
  font-family: 'Esteban';
}
#post {
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
#post h1:hover,
#post h2:hover,
#post h3:hover,
#post p:hover,
#post ol:hover,
#post ul:hover,
#post code:hover {
  cursor: default;
}
#post h1,
#post h2,
#post h3 {
  font-family: 'Averia Gruesa Libre', sans-serif;
  color: rgba(255,255,255,0.9);
}
#post h2,
#post h3 {
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
#post h1 {
  text-align: center;
  font-size: 4em;
  line-height: 1.1;
  text-shadow: 0 1px 2px rgba(0,0,0,0.25);
  width: 7.47em;
  margin-left: auto;
  margin-right: auto;
}
#post h2 {
  width: 20em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
#post h3 {
  letter-spacing: 1px;
  width: 24.6em;
  margin-top: 1.5em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
}
#post h3 + p {
  margin-top: 0.5em;
}
#post h4 {
  font-family: monospace;
  color: #fff;
  margin-top: 2.5em;
  margin-left: 1.25em;
  text-shadow: 0 -1px 0 #606060;
  margin-bottom: 0em;
}
#post pre {
  padding: 0.5em 1em;
  margin-top: 0.25em;
  margin-bottom: 3.5em;
  font-family: monospace;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f6e96), color-stop(1, #3e5d85));
  background: -webkit-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -moz-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -o-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -ms-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  text-shadow: 0 1px 0 #fff;
  color: #000;
  width: 35em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#post img {
  width: 28.375em;
}
#post p,
#post ol,
#post ul,
#post textarea,
#post .commands {
  width: 28.4em;
  margin-left: auto;
  margin-right: auto;
}
#post p,
#post ol,
#post ul,
#post textarea {
  font-family: 'Esteban', serif;
}
#post ol,
#post ul {
  padding: 0.5em 2.25em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #3e5d85;
  color: rgba(255,255,255,0.6);
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.125), 0 1px 1px rgba(255,255,255,0.125);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.125), 0 1px 1px rgba(255,255,255,0.125);
  width: 25.7em;
  padding-left: 1.95em;
  letter-spacing: 1px;
}
#post #new,
#post .editor {
  width: 30em;
  margin: 0 auto;
}
#post #new #title,
#post .editor #title {
  font-family: 'Averia Gruesa Libre', sans-serif;
  text-align: center;
  font-size: 450%;
  width: 6.5em;
  padding: 0;
  margin: 0 auto;
  height: 100px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#post #new .content,
#post .editor .content {
  margin-top: 1em;
}
#post #new a,
#post .editor a {
  font-family: 'Entypo';
  font-size: 400%;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #e3dfd6;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  width: 1em;
  display: inline-block;
  line-height: 0.5em;
  text-align: center;
  vertical-align: middle;
}
#post #new a:hover,
#post .editor a:hover {
  color: #f4efe7;
  cursor: pointer;
}
#post .commands a {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #e3dfd6;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
}
#post .commands #delete-post,
#post .commands #edit-post {
  text-decoration: none;
  text-shadow: 0 1px 2px #666;
  color: #e3dfd6;
}
#post .commands #delete-post:hover,
#post .commands #edit-post:hover {
  cursor: pointer;
  color: #f4efe7;
}
#post p,
#post textarea {
  padding: 0.85em 0.75em 0.45em 0.75em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.25);
  border: none;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f6e96), color-stop(1, #3e5d85));
  background: -webkit-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -moz-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -o-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: -ms-linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  background: linear-gradient(top, #4f6e96 0%, #3e5d85 100%);
  color: #f1f1f7;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 16px;
  margin-top: 16px;
}
#post p:first-letter,
#post textarea:first-letter {
  font-size: 2em;
  letter-spacing: 1px;
}
#post p:first-line,
#post textarea:first-line {
  line-height: 1.3em;
}
#post p img,
#post textarea img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px #000;
  box-shadow: 0 1px 3px #000;
  margin-top: -0.5em;
  border: 2px solid #e3dfd6;
}
#post p br,
#post textarea br,
#post p code,
#post textarea code {
  display: inline-block;
  margin-left: 0.1em;
  margin-right: 0.1em;
  -webkit-box-shadow: 0 -1px 1px rgba(255,255,255,0.125), 0 1px 1px rgba(0,0,0,0.125);
  box-shadow: 0 -1px 1px rgba(255,255,255,0.125), 0 1px 1px rgba(0,0,0,0.125);
  padding-bottom: 0.2em;
  line-height: 1.3em;
  background-color: rgba(95,127,167,0.25);
  padding-left: 0.45em;
  padding-right: 0.45em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-top: 0.45em;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
  color: #0b2a51;
  font-size: 85%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#post p code.block,
#post textarea code.block {
  white-space: pre;
  display: block;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.25);
  margin-bottom: 0.45em;
  margin-left: -0.45em;
  margin-right: -0.45em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: #5f7fa7;
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
#post p code.block br:first-child,
#post textarea code.block br:first-child {
  display: none;
}
#post textarea {
  display: block;
}
#post textarea::-webkit-input-placeholder {
  color: #569fd3;
}
#post textarea:-moz-placeholder {
  color: #569fd3;
}
#post textarea:focus {
  outline: none;
}
#post a {
  color: #fff;
  text-decoration: none;
}
#post a:visited {
  color: #fff;
}
#post a:hover {
  color: #fff;
}
#post ol {
  list-style-type: lower-roman;
}
#synced {
  list-style: none;
}
#synced li {
  display: inline-block;
  margin: 3.25% 6.5%;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  height: 5em;
  width: 5em;
}
#synced li .avatar {
  width: 100%;
  height: 100%;
}
#synced li .icon {
  font-size: 400%;
  font-family: EntypoSocial;
  line-height: 0.5em;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-top: -0.5em;
  margin-left: 1em;
  font-family: EntypoSocial;
  color: #e3dfd6;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  vertical-align: middle;
}
#contexts {
  display: inline-block;
  width: 21.125em;
  top: 0;
  height: 2em;
}
#contexts label {
  font-family: EntypoSocial;
  display: inline-block;
  font-size: 400%;
  width: 1em;
  height: 0.725em;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
  margin-top: -0.325em;
  color: rgba(227,223,214,0.5);
}
#contexts label.attached {
  display: inline-block;
}
#contexts label.selected {
  color: #e3dfd6;
  text-shadow: 0 1px 2px #000;
}
#contexts input[type="checkbox"] {
  display: none;
}
@media screen and (max-width: 640px) {
  #post {
    padding: 2%;
    height: 100%;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  #post {
    position: fixed;
    left: 8em;
    right: 24em;
    width: auto;
    overflow-y: auto;
  }
  h1 {
    margin-top: 0.4em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  #post:before {
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.25), 0 0 10px #000;
    box-shadow: inset 0 0 5px rgba(255,255,255,0.25), 0 0 10px #000;
  }
  #post:after {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.5)), color-stop(0.15, transparent), color-stop(0.85, transparent), color-stop(1, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(left, rgba(0,0,0,0.5) 0%, transparent 15%, transparent 85%, rgba(0,0,0,0.5) 100%);
  }
}
