@import 'nib'

html, body
  width  100%
  height 100%

body
  background linear-gradient(left, rgba(black, .5), transparent 25%, rgba(black, .5))
  text-rendering optimizeLegibility
  &:before
    display block
    content ' '
    position fixed
    top    0
    left   0
    right  0
    bottom 0
    background linear-gradient(top, transparent, rgba(black, .35))

#title
#content
  display none

#actions
#login
  display none
  h3
    color rgba(#47423b, .75)
    margin .75em 0
    font-size 100%
    display inline-block
    width 8em
    text-align center
    text-shadow 0 1px 0px rgba(#e3dfd6, .25)

#quote
  position absolute
  bottom 0
  left 0
  width 8em
  height 5.625em
  background-color rgba(black, .25)
  p
    margin .5em
    font-size 80%
    color rgba(black, .125)
    text-shadow 0 1px 0 rgba(white, .05)
    font-family 'Alegreya SC'
  .source
    text-align right
  &:hover p
    cursor default
    color rgba(black, .75)
    text-shadow 0 1px 0 rgba(white, .1)

#create
  left .3em
#edit-profile
  left 1.125em
#create
#edit-profile
#edit-post
#delete-post
#post .commands
  font-family Entypo

#login #facebook
  left .125em
#login #twitter
  left .7em
#login #github
  left 1.3em
#login a
  font-family EntypoSocial

#edit-post
#delete-post
#delete .commands a
#delete .commands input
  font-size 300%
  margin-left 0
  display inline-block
  height 1em
  width 1em
  display inline-block
  text-align center
  vertical-align top
  line-height 1em
  position relative

#create
#edit-profile
  top .25em

#login a
  top .6em

#create
#edit-profile
#login a
  font-size 400%
  line-height .55em
  display inline-block
  position fixed
  text-align center
  text-decoration none
  color #eee
  text-shadow 0 1px 1px #6c5d62

#post
  box-sizing border-box
  position fixed
  background linear-gradient(top, #36312A, #252019, #141008)
  background-repeat repeat 
  background-size .25em
  border-left  5px solid #E8E8DC
  border-right 5px solid #E8E8DC
  z-index 100
  width  100%
  height 100%
  padding 1%
  &:before
    display block
    content ' '
    background-color #47423B
    position fixed
    top -1em
    left 8.25em
    margin-left  auto
    margin-right auto
    right 24.25em
    width 31.5em
    z-index -1
    height 150%
    box-shadow inset 0 0 5px rgba(white, .25)
  &:after
    display block
    content ' '
    position fixed
    top   0
    left  8.3em
    right 24.3em
    height 100%
    background linear-gradient(left, rgba(black, .45), transparent 8%, transparent 92%, rgba(black, .45))
    z-index -1
  ul.supplemental
    position fixed
    top 0
    left 8em
    right 24em
    list-style none
    overflow hidden
    background transparent
    box-shadow none
    margin 0
    width auto
    padding 0
    z-index -2
    li
      padding 1em
      img
        width 175px
        box-shadow 0 1px 5px black
        -webkit-filter grayscale(.5) sepia(.7)
        margin-left .25em
        border-radius 2px
        opacity .3
        &:hover
          opacity 1
    &:before
      background linear-gradient(top, transparent 25%, rgba(black, .5))
      display block
      content ' '
      position fixed
      top   0
      left  8em
      right 24em
      height 100%
      border-left 5px solid #E8E8DC
      border-right 5px solid #E8E8DC

#back
  absolute top .75% left 13.5%
  width 7.5%
  z-index 110
  box-shadow 0 1px 1px black
  background-color #47423B
  border none
  text-shadow 0 -1px 0 black
  color #7A756E

#share
  width 8em
  margin  0
  padding 0
  fixed bottom, left
  background-color #E3DFD6
  box-shadow 0 0 5px black
  a
    display block
    width 80%
    padding .25em 10%
    background-color transparent
    color #807980
    letter-spacing 1px
    border-top    1px solid white
    border-bottom 1px solid rgba(black, .125)
    font-family 'Alegreya SC', serif
    font-weight bold
    text-decoration none

#posts
  position fixed
  top 5.25em
  left 0
  bottom 5.625em
  width 8em
  background-color rgba(black, .25)
  a
    display block
    margin 0
    padding .25em 5%
    width 90%
    // text-shadow 0 1px 0 rgba(white, .25)
    color #e3dfd6
    background-color #47423b
    border-top    1px solid rgba(white, .125)
    border-bottom 1px solid rgba(black, .125)
    font-family 'Special Elite', sans-serif
    text-decoration none
    &:hover
      cursor pointer
    &:last-child
      box-shadow 0 1px 3px black

#aioim
  background-color #47423B
  box-shadow inset 1px 1px 2px rgba(black, .5), 1px 1px 1px rgba(white, .25), -1px -1px 2px rgba(black, .45)
  position fixed
  bottom .5em
  right  .5em
  width  23em
  height 70%
  border-radius 4px
  & > p
    text-align center
    font-family 'Esteban', serif
    color rgba(white, .8)
    text-shadow 0 -1px 0 rgba(black, .25)
    a
      color white
      text-decoration none
  & > .new.message
    absolute bottom, right
    width 100%
    height 2.85em
    background-color #3D4C5A
    border-bottom-left-radius  4px
    border-bottom-right-radius 4px
    textarea
      absolute bottom, left
      border none
      width 85%
      box-sizing border-box
      padding .1em .5em
      background linear-gradient(top, #5D7067, #4C6056)
      border-top 1px solid #5f6e7c
      text-shadow 0 1px 0 rgba(black, .25)
      color rgba(white, .6)
      font-family 'Esteban'
      letter-spacing 1px
      border-bottom-left-radius  4px
      &::-webkit-input-placeholder
        color rgba(white, .25)
        text-shadow 0 -1px 0 rgba(black, .25)
      &:-moz-placeholder
        color rgba(white, .25)
        text-shadow 0 -1px 0 rgba(black, .25)
    button
      absolute bottom, right
      border none
      width 15%
      box-sizing border-box
      height 2.85em
      background linear-gradient(top, #749AA1, #638990)
      border-top 1px solid #85ABB2
      color black
      text-shadow 0 1px 0 rgba(white, .125)
      font-family 'Alegreya SC'
      border-bottom-right-radius 4px
  .messages
    margin-left  1em
    margin-right 1em
    dt 
      background-color #5D7067
      display inline-block
      width 100%
      box-shadow 0 -1px 1px rgba(black, .3)
      padding 0 .5em
      box-sizing border-box
      border-bottom 1px solid rgba(black, .125)
      border-top-left-radius  2px
      border-top-right-radius 2px
      a
        display inline-block
      .user
        color #222
        text-decoration none
        text-shadow 0 1px 0 rgba(white, .125)
        font-size 80%
        width 22.25em
        line-height 100%
        font-family 'Special Elite'
        letter-spacing 1px
        vertical-align bottom
        margin-bottom .5em
      &:hover
        .favorite
        .retweet
          visibility visible
          text-shadow 0 1px 0 rgba(white, .1)
      .favorite
      .retweet
        &:hover
          color black
          text-shadow 0 1px 0 rgba(white, .25)
        visibility hidden
        color rgba(black, .25)
        width .5em
        text-decoration none
        background-position-y -1px
        font-family 'EntypoRegular'
        font-size 1.75em
        line-height 1em
        vertical-align top
      .favorited
      .retweeted
        visibility visible
      .favorite
        background-position-x 95px
        &:hover
          background-position-x 79px
      .retweet
        background-position-x 48px
        margin-right .25em
        &:hover
          background-position-x 32px
      .favorited
        background-position-x 63px
      .retweeted
        background-position-x 16px
    .message
      background linear-gradient(top, #5D7067, #4C6056)
      margin 0
      display inline-block
      width 100%
      box-shadow 0 1px 1px rgba(white, .25)
      margin-bottom 1em
      padding .25em .5em
      box-sizing border-box
      border-top 1px solid rgba(white, .15)
      border-bottom-left-radius  2px
      border-bottom-right-radius 2px
      .content
        margin 0
        color rgba(white, .6)
        text-shadow 0 1px 0 rgba(black, .25)
        font-size 75%
        letter-spacing 1px
        font-family 'Esteban'

#post
  box-shadow 0 0 5px black

  h1, h2, h3, p, ol, ul, code
    &:hover
      cursor default

  h1, h2, h3
    font-family 'Special Elite', sans-serif
    color rgba(white, .7)

  h2, h3
    text-shadow 0 1px 0 rgba(black, .5)

  h1
    text-align center
    font-size 4em
    line-height 1.1
    text-shadow 0 1px 2px rgba(black, .25)
    width 7.47em
    margin-left auto
    margin-right auto

  h2
    width 20em
    margin-top   2em
    margin-left  auto
    margin-right auto

  h3
    letter-spacing 1px
    width 24.6em
    margin-top    1.5em
    margin-bottom 0
    margin-left   auto
    margin-right  auto
    padding-left 1em
    & + p
      margin-top .5em

  h4
    font-family monospace
    color white
    margin-top  2.5em
    margin-left 1.25em
    text-shadow 0 -1px 0 #606060
    margin-bottom 0em

  pre
    padding .5em 1em
    margin-top    .25em
    margin-bottom 3.5em
    font-family monospace
    background linear-gradient(top, #4F6E96, #3e5d85)
    box-shadow  0 -1px 1px rgba(black, .3), 0 1px 1px rgba(white, .25)
    text-shadow 0 1px 0 white
    color black
    width 35em
    border-radius 2px

  img
    width 28.375em

  p, ol, ul, textarea, .commands
    width 28.4em
    margin-left  auto
    margin-right auto

  p, ol, ul, textarea
    font-family 'Esteban', serif

  ol, ul
    padding .5em 2.25em
    border-radius 2px
    background-color #3E5D85
    color rgba(white, .6)
    text-shadow 0 1px 0 rgba(black, .25)
    box-shadow 0 -1px 1px rgba(black, .125), 0 1px 1px rgba(white, .125)
    width 25.7em
    padding-left 1.95em
    letter-spacing 1px

  #new, #editor
    width 30em
    margin 0 auto
    #title
      text-align center
      font-size  450%
      width      6.5em
      padding    0
      margin     0 auto
      height     100px
    .content
      margin-top 1em
    input
      font-family 'Entypo'
      font-size 400%
      padding 0
      background-color transparent
      border none
      color #eee
      text-shadow 0 1px 2px rgba(black, .75)
      width 1em
      &[type=submit]
        margin-left 5.4em
  .commands input
    padding 0
    background-color transparent
    border none
    color #eee
    text-shadow 0 1px 2px rgba(black, .75)


  p, textarea
    padding .85em .75em .45em .75em
    text-shadow 0 1px 0   rgba(black, .25)
    box-shadow  0 -1px 1px rgba(black, .3), 0 1px 1px rgba(white, .25)
    border none
    letter-spacing 1px
    background linear-gradient(top, #4F6E96, #3e5d85)
    color rgba(white, .7)
    border-radius 2px
    margin-bottom 16px
    margin-top 16px
    &:first-letter
      font-size 2em
      letter-spacing 1px
    &:first-line
      line-height: 1.3em
    img
      box-sizing border-box
      width 100%
      box-shadow 0 1px 3px black
      margin-top -.5em
      border 2px solid #E3DFD6
    br, code
      display inline-block
      margin-left  .1em
      margin-right .1em
      box-shadow: 0 -1px 1px rgba(white, .125), 0 1px 1px rgba(black, .125)
      padding-bottom .2em
      line-height 1.3em
      background-color rgba(#5F7FA7, .25)
      padding-left .45em
      padding-right .45em
      margin-left .1em
      margin-right .1em
      margin-top .45em
      text-shadow 0 1px 0 rgba(white, .1)
      color #0B2A51
      font-size 85%
      border-radius 2px
    code.block
      white-space pre
      display block
      box-shadow 0 1px 1px rgba(white, .25), 0 -1px 1px rgba(black, .25)
      margin-bottom .45em
      margin-left -.45em
      margin-right -.45em
      padding-top    .25em
      padding-bottom .25em
      background-color #5F7FA7
      text-shadow 0 1px 0 rgba(white, .15)
      br:first-child
        display none
  textarea
    display block
    &::-webkit-input-placeholder
      color #569FD3
    &:-moz-placeholder
      color #569FD3
    &:focus
      outline none
  a
    color white
    text-decoration none
    &:visited
      color white
    &:hover
      color white

  ol
    list-style-type lower-roman

@media screen and (max-width: 640px)
  #post
    padding 2%
    height 100%
  h1
    margin-top    0
    margin-bottom 0

@media screen and (min-width: 1024px)
  #post
    position fixed
    left 8em
    right 24em
    width auto
    overflow-y auto
  h1
    margin-top .4em
    line-height 1.4

@media screen and (min-width: 1029px)
  #post
    &:before
      box-shadow inset 0 0 5px rgba(white, .25), 0 0 5px black
