@import 'nib'
@import 'http://bsgbryan.github.com/AiOIM/app/stylesheets/font-face.css'

// ---
// HTML5 Boilerplate CSS: h5bp.com/css
// ---

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: white; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


// ---
// Main page styles
// ---

// Taken from CSSReX http://www.cssrex.com/tips-tricks/how-to-create-3d-text-using-css3
// text-tall-slab()
//   text-shadow 0 1px 0 rgba(#ccc, .5), 0 2px 0 rgba(#c9c9c9, .4), 0 3px 0 rgba(#bbb, .3), 0 4px 0 rgba(#b9b9b9, .2), 0 5px 0 rgba(#aaa, .1), 0 6px 1px rgba(black,.2), 0 0 5px rgba(black,.2), 0 1px 3px rgba(black,.4), 0 3px 5px rgba(black,.3), 0 5px 10px rgba(black,.35), 0 10px 10px rgba(black,.3), 0 20px 20px rgba(black,.25)
// text-medium-slab()
//   text-shadow 0 1px 0 rgba(#ccc, .4), 0 2px 0 rgba(#c9c9c9, .3), 0 3px 0 rgba(#b9b9b9, .2), 0 4px 1px rgba(black, .1), 0 4px 3px rgba(black, .1), 0 5px 3px rgba(black, .2), 0 10px 10px rgba(black, .35)
// text-short-slab()
//   text-shadow 0 1px 0 rgba(#ccc, .6), 0 2px 0 rgba(#c9c9c9, .4), 0 3px 3px rgba(black, .2), 0 4px 2px rgba(black, .25), 0 5px 5px rgba(black, .3)
// box-tall-slab()
//   box-shadow 0 1px 0 rgba(#ccc, .8), 0 2px 0 rgba(#c9c9c9, .5), 0 3px 0 rgba(#bbb, .5), 0 4px 0 rgba(#b9b9b9, .3), 0 5px 0 rgba(#aaa, .3), 0 6px 1px rgba(black, .20), 0 0 5px rgba(black, .20), 0 1px 3px rgba(black, .40), 0 3px 5px rgba(black, .30), 0 5px 10px rgba(black, .35), 0 10px 10px rgba(black, .30), 0 20px 20px rgba(black, .25)
// box-medium-slab()
//   box-shadow 0 1px 0 rgba(#ccc, .4), 0 2px 0 rgba(#c9c9c9, .4), 0 3px 0 rgba(#b9b9b9, .4), 0 4px 1px rgba(black, .2), 0 0 3px rgba(black, .2), 0 5px 3px rgba(black, .4), 0 10px 10px rgba(black, .35)
// box-short-slab()
//   box-shadow 0 1px 0 rgba(#ccc, .6), 0 2px 0 rgba(#c9c9c9, .6), 0 3px 1px rgba(black,.2), 0 4px 3px rgba(black, .2), 0 5px 5px rgba(black, .4)

html, body
  width  100%
  height 100%

body
  background linear-gradient(left, rgba(black, .5), transparent 25%, rgba(black, .5))
  text-rendering optimizeLegibility
  &:before
    display block
    content ' '
    position fixed
    top    0
    left   0
    right  0
    bottom 0
    background linear-gradient(top, transparent, rgba(black, .35))

#title
#content
  display none


#post
#preview
  box-sizing border-box
  position fixed
  background linear-gradient(top, #36312A, #252019, #141008)
  background-repeat repeat 
  background-size .25em
  border-left  5px solid #E8E8DC
  border-right 5px solid #E8E8DC
  &:before
    display block
    content ' '
    background-color #47423B
    position fixed
    top -1em
    left 8.25em
    margin-left  auto
    margin-right auto
    right 24.25em
    width 31.5em
    z-index -1
    height 150%
    box-shadow inset 0 0 5px rgba(white, .25)
  ul.supplemental
    position fixed
    top 0
    left 8em
    right 24em
    list-style none
    overflow hidden
    background transparent
    box-shadow none
    margin 0
    width auto
    padding 0
    z-index -2
    li
      padding 1em
      img
        width 175px
        box-shadow 0 1px 5px black
        -webkit-filter grayscale(.5) sepia(.7)
        margin-left .25em
        border-radius 2px
        opacity .3
        &:hover
          opacity 1
    &:after
      display block
      content ' '
      position fixed
      top   0
      left  8em
      right 24em
      height 100%
      background linear-gradient(left, rgba(black, .5), transparent 15%, transparent 85%, rgba(black, .5))
      z-index -1
    &:before
      background linear-gradient(top, transparent 25%, rgba(black, .5))
      display block
      content ' '
      position fixed
      top   0
      left  8em
      right 24em
      height 100%
      border-left 5px solid #E8E8DC
      border-right 5px solid #E8E8DC


#post
#preview
  z-index 100
  width  100%
  height 100%
#post.read
#preview
  padding 1%

#back
  absolute top .75% left 13.5%
  width 7.5%
  z-index 110
  box-shadow 0 1px 1px black
  background-color #47423B
  border none
  text-shadow 0 -1px 0 black
  color #7A756E

#share
  width 12.5%
  margin  0
  padding 0
  fixed bottom, left
  background-color #E3DFD6
  box-shadow 0 0 5px black
  a
    display block
    width 80%
    padding .25em 10%
    background-color transparent
    color #807980
    letter-spacing 1px
    border-top    1px solid white
    border-bottom 1px solid rgba(black, .125)
    font-family 'Alegreya SC', serif
    font-weight bold

#posts
  fixed top, left
  bottom 5.625em
  width 12.5%
  background-color rgba(black, .25)
  a
    display block
    padding .25em 5%
    width 90%
    text-shadow 0 1px 0 rgba(white, .25)
    color #502620
    background-color #825952
    border-top    1px solid rgba(white, .125)
    border-bottom 1px solid rgba(black, .125)
    font-family 'Special Elite', sans-serif
    &:last-child
      box-shadow 0 1px 3px black

#aioim
  background-color #47423B
  box-shadow inset 1px 1px 2px rgba(black, .5), 1px 1px 1px rgba(white, .25), -1px -1px 2px rgba(black, .45)
  position fixed
  bottom .5em
  right  .5em
  width  23em
  height 70%
  border-radius 4px
  & > p
    text-align center
    font-family 'Esteban', serif
    color rgba(white, .8)
    text-shadow 0 -1px 0 rgba(black, .25)
    a
      color white
      text-decoration none
  & > .new.message
    absolute bottom, right
    width 100%
    height 2.85em
    background-color #3D4C5A
    border-bottom-left-radius  4px
    border-bottom-right-radius 4px
    textarea
      absolute bottom, left
      border none
      width 85%
      box-sizing border-box
      padding .1em .5em
      background linear-gradient(top, #5D7067, #4C6056)
      border-top 1px solid #5f6e7c
      text-shadow 0 1px 0 rgba(black, .25)
      color rgba(white, .6)
      font-family 'Esteban'
      letter-spacing 1px
      border-bottom-left-radius  4px
      &::-webkit-input-placeholder
        color rgba(white, .25)
        text-shadow 0 -1px 0 rgba(black, .25)
      &:-moz-placeholder
        color rgba(white, .25)
        text-shadow 0 -1px 0 rgba(black, .25)
    button
      absolute bottom, right
      border none
      width 15%
      box-sizing border-box
      height 2.85em
      background linear-gradient(top, #749AA1, #638990)
      border-top 1px solid #85ABB2
      color black
      text-shadow 0 1px 0 rgba(white, .125)
      font-family 'Alegreya SC'
      border-bottom-right-radius 4px
  .messages
    margin-left  1em
    margin-right 1em
    dt 
      background-color #5D7067
      display inline-block
      width 100%
      box-shadow 0 -1px 1px rgba(black, .3)
      padding 0 .5em
      box-sizing border-box
      border-bottom 1px solid rgba(black, .125)
      border-top-left-radius  2px
      border-top-right-radius 2px
      a
        display inline-block
      .user
        color #222
        text-decoration none
        text-shadow 0 1px 0 rgba(white, .125)
        font-size 80%
        width 22.25em
        line-height 100%
        font-family 'Special Elite'
        letter-spacing 1px
        vertical-align bottom
        margin-bottom .5em
      &:hover
        .favorite
        .retweet
          visibility visible
          text-shadow 0 1px 0 rgba(white, .1)
      .favorite
      .retweet
        &:hover
          color black
          text-shadow 0 1px 0 rgba(white, .25)
        visibility hidden
        color rgba(black, .25)
        width .5em
        text-decoration none
        background-position-y -1px
        font-family 'EntypoRegular'
        font-size 1.75em
        line-height 1em
        vertical-align top
      .favorited
      .retweeted
        visibility visible
      .favorite
        background-position-x 95px
        &:hover
          background-position-x 79px
      .retweet
        background-position-x 48px
        margin-right .25em
        &:hover
          background-position-x 32px
      .favorited
        background-position-x 63px
      .retweeted
        background-position-x 16px
    .message
      background linear-gradient(top, #5D7067, #4C6056)
      margin 0
      display inline-block
      width 100%
      box-shadow 0 1px 1px rgba(white, .25)
      margin-bottom 1em
      padding .25em .5em
      box-sizing border-box
      border-top 1px solid rgba(white, .15)
      border-bottom-left-radius  2px
      border-bottom-right-radius 2px
      .content
        margin 0
        color rgba(white, .6)
        text-shadow 0 1px 0 rgba(black, .25)
        font-size 75%
        letter-spacing 1px
        font-family 'Esteban'

div#post
#preview
  box-shadow 0 0 5px black

  h1, h2, h3, p, ol, ul, code
    &:hover
      cursor default

  h1, h2, h3
    font-family 'Special Elite', sans-serif
    color rgba(white, .7)

  h2, h3
    text-shadow 0 1px 0 rgba(black, .5)

  h1
    text-align center
    font-size 4em
    line-height 1.1
    text-shadow 0 1px 2px rgba(black, .25)
    width 7.47em
    margin-left auto
    margin-right auto

  h2
    width 20em
    margin-top   2em
    margin-left  auto
    margin-right auto

  h3
    letter-spacing 1px
    width 24.6em
    margin-top    1.5em
    margin-bottom 0
    margin-left   auto
    margin-right  auto
    padding-left 1em
    & + p
      margin-top .5em

  h4
    font-family monospace
    color white
    margin-top  2.5em
    margin-left 1.25em
    text-shadow 0 -1px 0 #606060
    margin-bottom 0em

  pre
    padding .5em 1em
    margin-top    .25em
    margin-bottom 3.5em
    font-family monospace
    background linear-gradient(top, #4F6E96, #3e5d85)
    box-shadow  0 -1px 1px rgba(black, .3), 0 1px 1px rgba(white, .25)
    text-shadow 0 1px 0 white
    color black
    width 35em
    border-radius 2px

  img
    width 28.375em

  p, ol, ul
    width 28.4em
    font-family 'Esteban', serif
    margin-left  auto
    margin-right auto

  ol, ul
    padding .5em 2.25em
    border-radius 2px
    background-color #3E5D85
    color rgba(white, .6)
    text-shadow 0 1px 0 rgba(black, .25)
    box-shadow 0 -1px 1px rgba(black, .125), 0 1px 1px rgba(white, .125)
    width 25.7em
    padding-left 1.95em
    letter-spacing 1px

  p
    padding .85em .75em .45em .75em
    text-shadow 0 1px 0   rgba(black, .25)
    box-shadow  0 -1px 1px rgba(black, .3), 0 1px 1px rgba(white, .25)
    letter-spacing 1px
    background linear-gradient(top, #4F6E96, #3e5d85)
    color rgba(white, .7)
    border-radius 2px
    &:first-letter
      font-size 2em
      letter-spacing 1px
    &:first-line
      line-height: 1.3em
    img
      box-sizing border-box
      width 100%
      box-shadow 0 1px 3px black
      margin-top -.5em
      border 2px solid #E3DFD6
    br, code
      display inline-block
      margin-left  .1em
      margin-right .1em
      box-shadow: 0 -1px 1px rgba(white, .125), 0 1px 1px rgba(black, .125)
      padding-bottom .2em
      line-height 1.3em
      background-color rgba(#5F7FA7, .25)
      padding-left .45em
      padding-right .45em
      margin-left .1em
      margin-right .1em
      margin-top .45em
      text-shadow 0 1px 0 rgba(white, .1)
      color #0B2A51
      font-size 85%
      border-radius 2px
    code.block
      white-space pre
      display block
      box-shadow 0 1px 1px rgba(white, .25), 0 -1px 1px rgba(black, .25)
      margin-bottom .45em
      margin-left -.45em
      margin-right -.45em
      padding-top    .25em
      padding-bottom .25em
      background-color #5F7FA7
      text-shadow 0 1px 0 rgba(white, .15)
      br:first-child
        display none

  a
    color white
    text-decoration none
    &:visited
      color white
    &:hover
      color white

  ol
    list-style-type lower-roman

.hidden
  display: none !important

#post.write
  absolute top, left
  margin 0
  box-shadow inset 0 0 5px black, 0 0 5px black
  overflow hidden
  .content
  input:focus
  textarea:focus
    outline none
  input
    text-align center
    padding .5em 0
    border none
  .preview
  .done
    width: 20%
    background-color #E8D1C0
    color black
    text-shadow 0 1px 0 rgba(white, .75)
    box-shadow  0 1px 3px black
  .preview
    absolute top 0 left 0
  .done
    absolute top 0 right 0
  .title
    background-color transparent
    absolute top -.325em left 20%
    right 20%
    font-family 'Special Elite', sans-serif
    text-shadow 0 1px 3px black
    color #E3DFD6
    font-size   1.85em
    line-height 1em
  .content
    text-shadow 0 1px 0 rgba(black, .25)
    box-shadow 0 1px 3px black
    background-color #4F6E96
    padding .5em 1em
    absolute top 2.15em left 0
    right  0
    bottom 0
    border none
    color rgba(white, .8)
    font-family 'Esteban', serif
    line-height 1.3em
    letter-spacing 1px
    margin-top    1em
    margin-left   auto
    margin-right  auto
    margin-bottom 1em
    width: 28em

@media screen and (max-width: 640px)
  #post.read
  #post.write
  #preview
    padding 2%
    height 100%
  h1
    margin-top    0
    margin-bottom 0

@media screen and (min-width: 1024px)
  #post.write
  #post.read
  #preview
    position fixed
    left 8em
    right 24em
    width auto
    overflow-y auto
  h1
    margin-top .4em
    line-height 1.4
@media screen and (min-width: 1029px)
  #post
  #preview
    &:before
      box-shadow inset 0 0 5px rgba(white, .25), 0 0 5px black
