@import 'nib'
@import 'http://bsgbryan.github.com/AiOIM/app/stylesheets/font-face.css'

// ---
// HTML5 Boilerplate CSS: h5bp.com/css
// ---

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: white; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


// ---
// Main page styles
// ---

// Taken from CSSReX http://www.cssrex.com/tips-tricks/how-to-create-3d-text-using-css3
// text-tall-slab()
//   text-shadow 0 1px 0 rgba(#ccc, .5), 0 2px 0 rgba(#c9c9c9, .4), 0 3px 0 rgba(#bbb, .3), 0 4px 0 rgba(#b9b9b9, .2), 0 5px 0 rgba(#aaa, .1), 0 6px 1px rgba(black,.2), 0 0 5px rgba(black,.2), 0 1px 3px rgba(black,.4), 0 3px 5px rgba(black,.3), 0 5px 10px rgba(black,.35), 0 10px 10px rgba(black,.3), 0 20px 20px rgba(black,.25)
// text-medium-slab()
//   text-shadow 0 1px 0 rgba(#ccc, .4), 0 2px 0 rgba(#c9c9c9, .3), 0 3px 0 rgba(#b9b9b9, .2), 0 4px 1px rgba(black, .1), 0 4px 3px rgba(black, .1), 0 5px 3px rgba(black, .2), 0 10px 10px rgba(black, .35)
// text-short-slab()
//   text-shadow 0 1px 0 rgba(#ccc, .6), 0 2px 0 rgba(#c9c9c9, .4), 0 3px 3px rgba(black, .2), 0 4px 2px rgba(black, .25), 0 5px 5px rgba(black, .3)
// box-tall-slab()
//   box-shadow 0 1px 0 rgba(#ccc, .8), 0 2px 0 rgba(#c9c9c9, .5), 0 3px 0 rgba(#bbb, .5), 0 4px 0 rgba(#b9b9b9, .3), 0 5px 0 rgba(#aaa, .3), 0 6px 1px rgba(black, .20), 0 0 5px rgba(black, .20), 0 1px 3px rgba(black, .40), 0 3px 5px rgba(black, .30), 0 5px 10px rgba(black, .35), 0 10px 10px rgba(black, .30), 0 20px 20px rgba(black, .25)
// box-medium-slab()
//   box-shadow 0 1px 0 rgba(#ccc, .4), 0 2px 0 rgba(#c9c9c9, .4), 0 3px 0 rgba(#b9b9b9, .4), 0 4px 1px rgba(black, .2), 0 0 3px rgba(black, .2), 0 5px 3px rgba(black, .4), 0 10px 10px rgba(black, .35)
// box-short-slab()
//   box-shadow 0 1px 0 rgba(#ccc, .6), 0 2px 0 rgba(#c9c9c9, .6), 0 3px 1px rgba(black,.2), 0 4px 3px rgba(black, .2), 0 5px 5px rgba(black, .4)

body
  background-color #825952
  text-rendering optimizeLegibility

#title
#content
  display none


#post
#preview
  box-sizing border-box
  position relative
  background-color #47423B
  border-left  5px solid #E8D1C0
  border-right 5px solid #E8D1C0

#post
#preview
  z-index 100
  width  100%
  height 100%
#post.read
#preview
  padding 1%

#back
  absolute top .75% left 13.5%
  width 7.5%
  z-index 110
  box-shadow 0 1px 1px black
  background-color #47423B
  border none
  text-shadow 0 -1px 0 black
  color #7A756E

#share
  width 12.5%
  margin  0
  padding 0
  fixed bottom, left
  background-color #E3DFD6
  box-shadow 0 0 5px black
  a
    display block
    width 80%
    padding .25em 10%
    background-color transparent
    color #807980
    letter-spacing 1px
    border-top    1px solid white
    border-bottom 1px solid rgba(black, .125)
    font-family 'Alegreya SC', serif
    font-weight bold

#posts
  fixed top, left
  bottom 5.625em
  width 12.5%
  background-color rgba(black, .25)
  a
    display block
    padding .25em 5%
    width 90%
    text-shadow 0 1px 0 rgba(white, .25)
    color #502620
    background-color #825952
    border-top    1px solid rgba(white, .125)
    border-bottom 1px solid rgba(black, .125)
    font-family 'Ubuntu', sans-serif
    &:last-child
      box-shadow 0 1px 3px black

#aioim
  background-color #47423B
  box-shadow inset 0 1px 2px rgba(black, .5)
  position fixed
  bottom .5em
  right  .5em
  width  23em
  height 70%
  & > p
    text-align center
  & > .new.message
    absolute bottom, right
    width 100%
    textarea
      border none
      width 85%
      box-sizing border-box
      padding .25em .5em
      background-color #4E5D6B
      border-top 1px solid #5f6e7c
      border-right 1px solid #3D4C5A
      text-shadow 0 1px 0 rgba(white, .125)
      color black
      &::-webkit-input-placeholder
        color rgba(black, .25)
      &:-moz-placeholder
        color rgba(black, .25)
    button
      border none
      width 15%
      box-sizing border-box
      height 2.75em
      background-color #544F77
      border-top 1px solid #655F88
      color black
      text-shadow 0 1px 0 rgba(white, .125)
  .messages
    margin-left  1em
    margin-right 1em
    dt 
      background-color #4E5D6B
      display inline-block
      width 100%
      box-shadow 0 1px 1px rgba(black, .5)
      padding 0 .5em
      box-sizing border-box
      a
        display inline-block
      .user
        color #B0CCD4
        text-decoration none
        text-shadow 0 -1px 0 rgba(0, 0, 0, .25)
        font-size 75%
        width 23.75em
      &:hover
        .favorite
        .retweet
          visibility visible
      .favorite
      .retweet
        &:hover
          color black
        visibility hidden
        color rgba(black, .25)
        width .5em
        text-decoration none
        background-position-y -1px
        font-family 'EntypoRegular'
        font-size 1.75em
        line-height 1em
        vertical-align top
      .favorited
      .retweeted
        visibility visible
      .favorite
        background-position-x 95px
        &:hover
          background-position-x 79px
      .retweet
        background-position-x 48px
        margin-right .25em
        &:hover
          background-position-x 32px
      .favorited
        background-position-x 63px
      .retweeted
        background-position-x 16px
    .message
      background-color #4E5D6B
      margin 0
      display inline-block
      width 100%
      box-shadow 0 1px 1px rgba(black, .5)
      margin-bottom 1em
      padding .25em .5em
      box-sizing border-box
      .content
        margin 0
        color #B8AC9E
        text-shadow 0 -1px 0 rgba(black, .125)
        font-size 75%

div#post
#preview
  box-shadow inset 0 0 3px black, 0 0 5px black

  h1, h2, h3
    font-family 'Ubuntu', sans-serif
    -webkit-text-fill-color #E3DFD6
    color #E3DFD6

  h2, h3
    text-shadow 0 2px 2px black
    -webkit-text-stroke 1px white

  h1
    text-align center
    font-size 4em
    line-height 1.1
    text-shadow 0 3px 3px black
    -webkit-text-stroke 3px white

  h2
    margin-top 2em

  h3
    letter-spacing 1px
    margin-top    1.5em
    margin-left   1em
    margin-bottom 0
    & + p
      margin-top .5em

  h4
    font-family monospace
    color white
    margin-top  2.5em
    margin-left 1.25em
    text-shadow 0 -1px 0 #606060
    margin-bottom 0em

  pre
    padding .5em 1em
    margin-top    .25em
    margin-bottom 3.5em
    font-family monospace
    background linear-gradient(top, rgba(white, .925) 0%, rgba(#efefef, .925) 100%), url('http://www.unsigneddesign.com/Experimental%20Dirty/3.jpg')
    text-shadow 0 1px 0 white
    box-short-slab()
    color black

  p, ol, ul, pre
    width 28.4em

  img
    width 28.375em

  p, ol, ul
    font-family 'Esteban', serif

  ol, ul
    color #666
    margin 1.75em 0

  p
    padding .85em .75em .45em .75em
    text-shadow 0 1px 0   rgba(white, .125)
    box-shadow  0 2px 3px rgba(black, .5)
    letter-spacing 1px
    background linear-gradient(top, #4F6E96, #3e5d85)
    color black
    border-left   2px solid black
    border-right  2px solid black
    border-top    1px solid black
    border-bottom 1px solid black
    &:first-letter
      font-size 2em
      letter-spacing 1px
    &:first-line
      line-height: 1.3em
    img
      box-sizing border-box
      width 100%
      box-shadow 0 1px 3px black
      margin-top -.5em
      border 2px solid #E3DFD6

  a
    color #0B2A52
    text-decoration none
    &:visited
      color #0B2A52

  ol, ul
    text-shadow 0 1px 0 white
    padding .5em 2.25em
    box-medium-slab()

  ol
    list-style-type lower-roman

.hidden
  display: none !important

#post.write
  absolute top, left
  margin 0
  box-shadow inset 0 0 5px black, 0 0 5px black
  overflow hidden
  .content
  input:focus
  textarea:focus
    outline none
  input
    text-align center
    padding .5em 0
    border none
  .preview
  .done
    width: 20%
    background-color #E8D1C0
    color black
    text-shadow 0 1px 0 rgba(white, .75)
    box-shadow  0 1px 3px black
  .preview
    absolute top 0 left 0
  .done
    absolute top 0 right 0
  .title
    background-color transparent
    absolute top -.325em left 20%
    right 20%
    font-family 'Ubuntu', sans-serif
    text-shadow 0 1px 3px black
    color #E3DFD6
    font-size   1.85em
    line-height 1em
  .content
    text-shadow 0 1px 0 rgba(white, .25)
    box-shadow 0 1px 3px black
    background-color #4F6E96
    margin 2%
    padding .5em 1em
    absolute top 2.15em left 0
    right  0
    bottom 0
    border none

@media screen and (max-width: 640px)
  #post.read
  #post.write
  #preview
    padding 2%
    height 100%
  h1
    margin-top    0
    margin-bottom 0

@media screen and (min-width: 800px)
  #post.write
  #post.read
  #preview
    width 75%

@media screen and (min-width: 1024px)
  #post.write
  #post.read
  #preview
    absolute left 8em right 24em
    width auto
    overflow-y auto
  h1
    margin-top .4em
    line-height 1.4
