ul(id="posts", class="{{ context }}")
  li(ng-repeat="post in peruse | orderBy:published:reverse")
    a(href="/read/{{ post.idx }}.html", ng-click="assignPost(post.idx)") {{ post.title.substring(2) }}