<ul id="synced">
  <li class="service facebook">
    <img class="avatar">
    <a class="icon" data-service="facebook">&#62222;</a>
  </li>
  <li class="service twitter">
    <img class="avatar">
    <a class="icon" data-service="twitter">&#62217;</a>
  </li>
  <li class="service github">
    <img class="avatar">
    <a class="icon" data-service="github">&#62208;</a>
  </li>
  <!-- <li class="service linkedin">
    <img class="avatar">
    <span class="icon">&#62232;</span>
  </li>
  <li class="service pintrest">
    <img class="avatar">
    <span class="icon">&#62227;</span>
  </li>
  <li class="service stumbleupon">
    <img class="avatar">
    <span class="icon">&#62238;</span>
  </li>
  <li class="service lastfm">
    <img class="avatar">
    <span class="icon">&#62241;</span>
  </li>
  <li class="service spotify">
    <img class="avatar">
    <span class="icon">&#62248;</span>
  </li>
  <li class="service instagram">
    <img class="avatar">
    <span class="icon">&#62253;</span>
  </li>
  <li class="service skype">
    <img class="avatar">
    <span class="icon">&#62265;</span>
  </li> -->
</ul>