<ul id="synced" populate-synced-service-info>
  <li class="service facebook">
    <img class="avatar" src="">
    <span class="icon">&#62222;</span>
  </li>
  <li class="service twitter">
    <img class="avatar">
    <span class="icon">&#62217;</span>
  </li>
  <li class="service github">
    <img class="avatar">
    <span class="icon">&#62208;</span>
  </li>
  <!-- <li class="service linkedin">
    <img class="avatar">
    <span class="icon">&#62232;</span>
  </li>
  <li class="service pintrest">
    <img class="avatar">
    <span class="icon">&#62227;</span>
  </li>
  <li class="service stumbleupon">
    <img class="avatar">
    <span class="icon">&#62238;</span>
  </li>
  <li class="service lastfm">
    <img class="avatar">
    <span class="icon">&#62241;</span>
  </li>
  <li class="service spotify">
    <img class="avatar">
    <span class="icon">&#62248;</span>
  </li>
  <li class="service instagram">
    <img class="avatar">
    <span class="icon">&#62253;</span>
  </li>
  <li class="service skype">
    <img class="avatar">
    <span class="icon">&#62265;</span>
  </li> -->
</ul>